.ng_shared_with {
    flex-direction: column;
    border-top: 1px solid var(--light-grey);
    padding: 1em 1em 1em 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 87%;
    margin: auto;
}

.ng_shared_with:hover {
    background-color: #212121; ;
}

.ng_shared_with:first-child {
    border-top: 1px solid var(--green)
}

.ng_shared_with:last-child {
    border-bottom: 1px solid var(--light-grey)
}

.ng-update-button {
    position:relative;
    float: right;
    margin: 1em 7% 2em 2em; 
    padding: 0.8em 2.2em 0.8em 2.2em;
    border-radius: 2em;
    border: none;
    background-color: var(--green);
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    color: #212121;
    text-decoration: none;
}

.ng-cancel {
    position: absolute;
    margin: 1em 0em 2em -0.3em; 
    margin-left: 5%;
    padding: 0.8em 2.2em 0.8em 2.2em;
    border-radius: 4em;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    color: #949494;
}

.ng-cancel:hover {
    color: #f2f2f2;
}

.ng-update-button:hover {
    background-color: #a2f199;
}

@media only screen and (max-width: 400px) {
    .ng-update-button {
        margin: 2em 5% 2em 0em; 
        padding: 0.8em 1.9em 0.8em 1.9em;
        font-size: 0.9em;
    }
    .ng-cancel {
        margin: 2em -5em 2em 0em; 
        padding: 0.8em 1.9em 0.8em 1.9em;
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 1200px) {
    .ng_shared_with {
        width: 48%;
        margin: auto;
    }

    .ng-update-button {
        margin-right: 26%; 
    }

    .ng-cancel {
        position:inherit;
        margin-left: 25%;
    }
}