.new-list-no-name-error {
    position:relative;
    display: flex;
    color: var(--font-color);
    margin: auto;
    margin: -2em 1em 0.85em 0.1em;
    color: #E43232;
}

.create-list-body {
    border: 5px solid;
    margin: auto;
    width: 90%;
    padding: 10px;
    border: none; 
    outline: none; 
}

.create-new-list-label{
    font-size: 1em;
    margin-top: 6.5em;
    color: var(--font-color);
    
}

.create-list-name {
    background-color: #212121;
    padding: 1em 1em 1em 1.7em;
    border-radius: 6px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    font-size: 1.4em;
    font-weight: 500;   
    margin-top: 0.5em;
    margin-bottom: 2em;
    color: #f2f2f2;
    border:none;
    border-bottom: solid 1px var(--green);
    caret-color: var(--green);
    width: 100%;
    outline: none;  
}

.create-list-buttons {
    float: right;
    display:flex;
}

.create-list-create-button {
    border: none;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    color: var(--green);
    background: none;
    text-decoration: none;
    margin-left: 1em;
    padding: 0.6em;
    border-radius: 0.3em;
}

.create-list-create-button:hover {
    background-color: #212121;
}

.create-list-cancel-button {
    border: none;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    color: #777777;
    background: none;
    text-decoration: none;
    margin-left: 1em;
    padding: 0.6em;
    border-radius: 0.3em;
}

.create-list-share-button {
    border: none;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    color: #f2f2f2;
    background: none;
    text-decoration: none;
    margin-left: 1em;
    padding: 0.6em;
    border-radius: 0.3em;
}

.create-list-share-button:hover {
    background-color: #212121;
    border-radius: 0.2em;
}

.create-list-cancel-button:hover {
    background-color: #212121;
    border-radius: 0.2em;
}



@media only screen and (max-width: 400px) {
    .create-list-name {
        font-size: 1.2em;
    }
}


@media only screen and (min-width: 600px) {
    .create-list-body {
        width: 35em; 
    }

    .create-list-update-button {
        margin-right: 1%;
    }

    .create-list-cancel-button{
        margin-left: -1%;
    }

    .cancel-icon {
        margin-top: 1em;
    }
}