

.group-details-body {
    border: 5px solid;
    margin: auto;
    width: 90%;
    padding: 10px;
    color: #f2f2f2;
    border: none;   
}

.edit-group-name {
    background-color: #212121;
    padding: 1em 1em 1em 1.7em;
    border-radius: 6px;
    font-size: 1.2em;
    font-weight: 600;   
    margin-top: 1em;
    color: #f2f2f2;
    border:none;
    caret-color: var(--green);
    width: 100%
}

.edit-group-name:focus {
    outline: none;
}

.edit-group-name::placeholder{
    color: #949494;
}

.add-icon {
    position: absolute;
    color: #949494;
    padding: 2em 1em 1em 0em;
    z-index: -10;
}

.add-people {
    background: none;
    padding: 1em 1em 1em 0em;
    border-radius: 6px;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 1.7em;
    color: #f2f2f2;
    border:none;
    caret-color: var(--green);
    width: 95%;
    outline: none;
}

.add-people::placeholder{
    color: #949494;
}

.shared_with {
    
    flex-direction: column;
    border-top: 1px solid var(--light-grey);
    padding: 1em 1em 1em 2em;
}

.shared_with:hover {
    background-color: #212121; ;
}

.shared_with:first-child {
    border-top: 1px solid var(--green)
}

.shared_with:last-child {
    border-bottom: 1px solid var(--light-grey)
}

.group-date {
    margin: 0.5em 0em 0em 0.5em;
    color: #7c7c7c;
}



.update-button {
    float: right;
    margin: 1em 0em 2em 2em; 
    padding: 0.8em 2.2em 0.8em 2.2em;
    border-radius: 2em;
    border: none;
    background-color: var(--green);
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    color: #212121;
}

.cancel {
    margin: 1em 0em 2em -0.3em; 
    padding: 0.8em 2.2em 0.8em 2.2em;
    border-radius: 4em;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    color: #949494;
}

.cancel:hover {
    color: #f2f2f2;
}

.update-button:hover {
    background-color: #a2f199;
}

@media only screen and (min-width: 1200px) {

    .group-details-body {
        border: 5px solid;
        margin: auto;
        width: 50%;
        padding: 10px;
        color: #f2f2f2;
        border: none;   
    }
}