.group-overlay {
    position: fixed;
    margin-top: 0em;
    margin-right: 1.1em;
    right: 0;
    width: 9em;
    height: 5em;
    background-color: #333333;
    display: flex;
    justify-content: center;
    border-radius: 0.2em; 
}

.remove-group-icons {
    display: none;
    color: #f2f2f2;
    position: inherit;
    float: right;
    margin-right: 1em;

}

.remove-group-icon {
    cursor: pointer;
    background:none;
    border: none;
    color: var(--font-color);
}

.shared_with:hover .remove-group-icons {
    display: block;
  }

.group-overlay-content {
    color: var(--font-color);
    font-size: 13px;
    margin-top: 0.4em;
    cursor: pointer;
    font-size: 1em;
}

.group-overlay-text {
    padding: 0.4em 1em 0.4em 1em;
}

.group-overlay-text:hover {
    background-color: #212121;
    border-radius: 0.2em;
}

.group-buttons {
    /* display: flex; */
    margin-top: -5rem; 
    margin-right: 1rem
  }
  .group-buttons button { 
    margin: 0.1rem; 
    background: none;
    border-radius: 10em;
    border: none;
    color: #f2f2f2;
    font-size: 0.6em;
    width: 4em;
    height: 4em;
    cursor: pointer;
  }

  .group-buttons button:hover {
    background-color: #121212;
    box-sizing: border-box;
  }
  

.group-details-body {
    border: 5px solid;
    margin: auto;
    width: 90%;
    padding: 10px;
    color: #f2f2f2;
    border: none;   
}

.edit-group-name {
    background-color: #212121;
    padding: 1em 1em 1em 1.7em;
    border-radius: 6px;
    font-size: 1.2em;
    font-weight: 600;   
    margin-top: 1em;
    color: #f2f2f2;
    border:none;
    caret-color: var(--green);
    width: 100%
}

.edit-group-name:focus {
    outline: none;
}

.edit-group-name::placeholder{
    color: #949494;
}

.add-icon {
    position: absolute;
    color: #949494;
    padding: 2em 1em 1em 0em;
    z-index: -10;
}

.add-people {
    background: none;
    padding: 1em 1em 1em 0em;
    border-radius: 6px;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 1.7em;
    color: #f2f2f2;
    border:none;
    caret-color: var(--green);
    width: 95%;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-people::placeholder{
    color: #949494;
}

.shared_with {
    flex-direction: column;
    border-top: 1px solid var(--light-grey);
    padding: 1em 1em 1em 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shared_with:hover {
    background-color: #212121; ;
}

.shared_with:first-child {
    border-top: 1px solid var(--green)
}

.shared_with:last-child {
    border-bottom: 1px solid var(--light-grey)
}

.ng_shared_with {
    flex-direction: column;
    border-top: 1px solid var(--light-grey);
    padding: 1em 1em 1em 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 87%;
    margin: auto;
}

.ng_shared_with:hover {
    background-color: #212121; ;
}

.ng_shared_with:first-child {
    border-top: 1px solid var(--green)
}

.ng_shared_with:last-child {
    border-bottom: 1px solid var(--light-grey)
}


.group-date {
    margin: 0.5em 0em 0em 0.5em;
    color: #7c7c7c;
    white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}

.update-button {
    float: right;
    margin: 1em 0em 2em 2em; 
    padding: 0.8em 2.2em 0.8em 2.2em;
    border-radius: 2em;
    border: none;
    background-color: var(--green);
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    color: #212121;
    text-decoration: none;
}

.cancel {
    margin: 1em 0em 2em -0.3em; 
    padding: 0.8em 2.2em 0.8em 2.2em;
    border-radius: 4em;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    color: #949494;
}

.cancel:hover {
    color: #f2f2f2;
}

.update-button:hover {
    background-color: #a2f199;
}

.ng-update-button {
    position:relative;
    float: right;
    margin: 1em 7% 2em 2em; 
    padding: 0.8em 2.2em 0.8em 2.2em;
    border-radius: 2em;
    border: none;
    background-color: var(--green);
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    color: #212121;
    text-decoration: none;
}

.ng-cancel {
    position: absolute;
    margin: 1em 0em 2em -0.3em; 
    margin-left: 5%;
    padding: 0.8em 2.2em 0.8em 2.2em;
    border-radius: 4em;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    color: #949494;
}



.ng-cancel:hover {
    color: #f2f2f2;
}

.ng-update-button:hover {
    background-color: #a2f199;
}

.new-list-body {
    border: 5px solid;
    margin: auto;
    width: 90%;
    padding: 10px;
    border: none; 
    outline: none;  
}

.new-list-label {
    margin-top: 8em;
}

.new-list {
    background-color: #212121;
    padding: 1em 1em 1em 1.7em;
    border-radius: 6px;
    font-size: 1.2em;
    font-weight: 500;   
    margin-top: 0.5em;
    margin-bottom: 2em;
    color: #f2f2f2;
    border:none;
    caret-color: var(--green);
    width: 100%;
    outline: none;  
}

.nl-update-button {
    position:relative;
    float: right;
    margin: 1em 7% 2em 2em; 
    padding: 0.8em 2.2em 0.8em 2.2em;
    border-radius: 2em;
    border: none;
    background-color: var(--green);
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    color: #212121;
    text-decoration: none;
}


.nl-update-button:hover {
    background-color: #a2f199;
}

.nl-cancel {
    position: absolute;
    margin: 1em 0em 2em -0.3em; 
    margin-left: 2%;
    padding: 0.8em 2.2em 0.8em 2.2em;
    border-radius: 4em;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    color: #949494;
    text-decoration: none;
}

.nl-cancel:hover {
    color: #f2f2f2;
}

.nl-update-button:hover {
    background-color: #a2f199;
}

@media only screen and (min-width: 600px) {
    .new-list-body {
        width: 35em; 
    }

    .nl-update-button {
        margin-right: 1%;
    }

    .nl-cancel {
        margin-left: -1%;
    }
}

@media only screen and (min-width: 1200px) {

    .group-details-body {
        border: 5px solid;
        margin: auto;
        width: 50%;
        padding: 10px;
        color: #f2f2f2;
        border: none;   
    }

    

    .ng_shared_with {
        width: 48%;
        margin: auto;
    }

    .ng-update-button {
        margin-right: 26%; 
    }

    .ng-cancel {
        position:inherit;
        margin-left: 25%;
    }
}