.lists-count {
    margin-left: -5.85em;
    margin-bottom: 4em;
    margin-top: 1.4em;
    font-size: 1em;
    font-weight: 500;
    color: #B5B5B5;
}

.lists-container {
    border-top: 1px solid var(--light-grey);
    margin-right: 0em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.lists-container:last-child {
    border-bottom: 1px solid var(--light-grey)
}

.lists-container:first-child {
    margin-top: -0.4em;
}

.lists-container:hover {
    background-color: var(--dark-grey)
}

.lists-label {
    margin-left: 1.2em;
    display: inline-block;
    color: #f2f2f2;
}

.lists-label:link {
    text-decoration: none;
}

.lists-label:visited  {
    text-decoration: none;
}

.lists-icon {
    display: inline-block;
    margin-left: 1.5em;
    color: #424242;
}

@media only screen and (min-width: 1200px) {
    .lists-container {
        padding-top: 1em;
        padding-bottom: 1em;
        margin-left: 1em;
        margin-right: 0.42em;
    }
    .lists-icon {
        margin-left: 1em;  
    }

    .lists-count {
        margin-left: -5.9em;
    }
}