@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Kantumruy Pro', sans-serif; 
}


.list-details-body {
    border: 5px solid;
    margin: auto;
    margin-left: 1em;
    margin-right: 1em;
    color: #f2f2f2;
    border: none;
    margin-top: 0em;
}

.list-buttons {
    /* display: flex; */
    margin-top: 0rem; 
    margin-right: 1rem
  }
  .list-buttons button { 
    margin: 0.1rem; 
    background: none;
    border-radius: 10em;
    border: none;
    color: #f2f2f2;
    font-size: 0.4em;
    width: 4em;
    height: 4em;
    cursor: pointer;
  }

  .add-person-icon {
    font-size: 2em;
    margin-left: 0.1em;
    color: var(--font-color);
  }

  .list-buttons button:hover {
    background-color: #121212;
    box-sizing: border-box;
  }
  
  
  .list-page-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.2em;
    margin-bottom: 3.3em;
    margin-top: -0.15em;
    color: var(--font-color);
    font-size: 1.5em;
    font-weight: 500;
    width: 200em;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .list-page-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.edit-list-name {
    background-color: #121212;
    font-size: 1em; 
    margin-top: 0em;
    margin-left: -0.2em;
    font-weight: 500;
    color: #f2f2f2;
    border:none;
    caret-color: var(--green);
    outline: none;
    border-radius: 0.15em;
    outline-offset: 0.2em;
    padding: 0.2em;
    width: 8em;
}

.edit-list-name::placeholder{
    color: #949494;
}

.overlay {
    position: fixed;
    margin-top: -5.5em;
    margin-right: 1.1em;
    right: 0;
    width: 12em;
    height: 7.2em;
    background-color: #333333;
    display: flex;
    justify-content: center;
    border-radius: 0.2em; 
    z-index: 10;
}

.overlay-content {
    color: var(--font-color);
    font-size: 13px;
    margin-top: 0.6em;
    cursor: pointer;
    font-size: 1em;
}

.overlay-text {
    padding: 0.4em 1em 0.4em 1em;
}

.overlay-text:hover {
    background-color: #212121;
    border-radius: 0.2em;
}

.add-item {
    background: none;
    padding: 1em 1em 1em 0em;
    font-size: 1em;
    margin-top: 1em;
    margin-left: 2.8em;
    color: #f2f2f2;
    border:none;
    caret-color: var(--green);
    width: 90%;
    outline: none;    
}

/* .checkbox {
    margin-top: 0.11em;
} */

/* 
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 1.2em;
    width: 1.2em;
    background-color: #121212;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #f2f2f2;
} */



/* .tick { 
    cursor: pointer;
    color: #72DF65;
    margin-left: -1.05em;
    margin-top: 0.24em;
    font-size: 0.8em;
    padding-right: 0.175em;
} */

.list-icons {
    display: none;
    cursor: pointer;
    color: #f2f2f2;
    position: absolute;
    right: 1em; 
    margin-right: 1.5em;
}

.list-items:hover .list-icons {
    display: block;
  }

.remove-icon {
    margin-left: 1.5em;
}

.add-item:focus {
    outline: none;
}

.item-icon {
    position: absolute;
    color: #949494;
    padding: 2em 1em 1em 0em;
    z-index: -10;
    background: none;
    border: none;
    font-size: 1.1em;
    margin-top: -0.2em;
    margin-left: 0.85em;
}


.list-items { 
    display: flex;
    border-top: 1px solid var(--light-grey);
    padding: 1em 3em 1em 1em;
}

.list-items:hover {
    background-color: #212121; ;
}

.list-items.first-item {
    border-top: 1px solid #72DF65;
  }

.list-items:last-child {
    border-bottom: 1px solid var(--light-grey) !important;
    margin-bottom: 6em;
}

.list-items-label {
    display: inline-block; 
    margin-left: 0.98em; 
    white-space:break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
}




.delete-overlay {
    color: #f2f2f2;
    background-color: #333333;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20em;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    padding: 1em;
    z-index: 10;
}

.delete-overlay-large {
    position: fixed;
    margin-top: -5em;
    margin-right: 1.1em;
    right: 0;
    width: 20em;
    height: 8em;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    padding: 1em;
    z-index: 10;
}

.delete-content {
    color: #f2f2f2;
    padding: 5px;
    text-align: center;
}

.delete-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.tick-icon-delete {
    background: none;
    border: none;
    color: #E03B3B;
    cursor: pointer;
    font-size: 1.2em;
}

.x-icon-delete {
    background: none;
    border: none;
    color: #72DF65;
    cursor: pointer;
    font-size: 1.2em;
}

.item-display-overlay {
    position: absolute;
    margin-left: 3em;
    margin-top: -10px;
    cursor: pointer;
    background-color: #212121;
    padding:0.8em 0.4em 0.8em 0.4em;
    border-radius: 0.2em;  
}

.item-display-single-item {
    padding:0.4em 0.8em 0.4em 0.8em 
}
.item-display-single-item:hover {
    background-color: #121212;
    border-radius: 0.2em; 
  
}
@media only screen and (max-width: 350px) {
    .delete-overlay {
        width: 95%;
        height: 10em;
        padding: 0.2em;   
    }
}

@media only screen and (max-width: 400px) {
    .list-buttons {
        margin-right: 0.5rem;
        font-size: 0.8em;
      }
      .list-page-title {
        font-size: 0.8em;
      }
      .list-buttons button { 
        margin-right: 0rem;
      }

}

@media only screen and (min-width: 1200px) {

    

    .list-buttons {
        margin-right: 1rem
      }
      .list-buttons button { 
        width: 5em;
        height: 5em;
      }

      .overlay {
        margin-right: 1em;
        margin-top: -5.2em;
      }
    
      .tick-icon-delete {
        background: none;
        border: none;
        color: #E03B3B;
        cursor: pointer;
        font-size: 1em;
    }
    
    .x-icon-delete {
        background: none;
        border: none;
        color: #72DF65;
        cursor: pointer;
        font-size: 1em;
    }

    .list-icons { 
        margin-right: 2em;
    }
    
    .remove-icon {
        margin-left: 2em;
    }
      
}