/* CSS for the modal container */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Adjust the z-index as needed */
}

/* CSS for the modal content */
.modal-content {
    background-color: #333333;
    max-width: 50em; /* You can set a max-width to limit the width */
    padding: 2em;
    margin: 1em;
    border-radius: 0.4em;
    position: relative; /* Add relative positioning */
    top: -20%; /* Initially at the top */
}

/* Close button style */
.modal-content button {
    background: none;
    border: none;
    color: #f2f2f2;
    padding: 1em;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.8em;
    float: right;
    margin-bottom: 1em ;
}

/* Close button hover effect */
.modal-content button:hover {
    background-color: #212121;
}

/* .add-group-btn {
    display: none;
} */

@media only screen and (max-width: 660px) {
    .modal-content button {
       font-size: 0.8em; 
       margin: 0em;
       padding: 1em;
   }
    .modal-content {
        padding: 1em;
   }   

}

@media only screen and (max-width: 380px) {
    .modal-content button {
       padding: 0.6em;
   }

}

@media only screen and (max-width: 320px) {
    .modal-content button {
       padding: 0.6em;
   }

   .modal-content {
    margin: 0.2em;
    } 

}

