.no-lists-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
}

.no-items-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -0.05em;
    padding-top: 20px; 
    text-align: center;
    margin-top: 2em;
}

.line {
    border-top: 1px solid var(--light-grey);
}

.no-lists-label {
    font-size: 1.2em;
    color: var(--green) ;
    margin-bottom: 1.2em;
}

.create-list-label {
    font-size: 1.2em;
}

.list-instructions-label {
    font-size: 1.2em;
    margin-bottom: 4em;
    color: #B5B5B5;
}

.list-icon {
    font-size: 1.2em;
    color: #424242;
    font-size: 8em;
}

.completed-icon {
    font-size: 1.2em;
    color: #424242;
    font-size: 8em;
}

.no-list-icon {
    margin-top: 0.5em;
    font-size: 1.2em;
    color: #424242;
    font-size: 8em;
}

.no-list-instructions {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (min-width: 1200px) {
    .no-lists-body {
        margin-right: 1.7em;
        margin-top: 5em;
    }
    .no-items-body{
        margin-right: 1.7em;
    }
    .no-items-body{
        font-size: 1.2em;
    }
}