:root {
	--green: #72DF65;
	--font-color: #f2f2f2;
	--black: #121212;
	--dark-grey: #212121;
	--light-grey: #333333;	
}

.body {
    color: var(--font-color); 
    margin-left: 0em;
    margin-top: 0.4em;
    
}
.page-title {
    margin-left: 1.2em;
    margin-bottom: 4em;
    margin-top: -0.15em;
    color: var(--font-color);
    font-size: 1.5em;
    font-weight: 500;
    display: inline-block;
}



.fake-header {
    height: 0;
}



@media only screen and (min-width: 1200px) {
    .nav-open {
        margin-left: 320px;
        transition: 250ms;
    }
    
    .nav-closed {  
        transition: 250ms;
    }

    .page-title {
        font-size: 1.5em;
        margin-left: 0em;
        margin-bottom: 4em;
    }

    .body {
        font-size: 1.2em ;
        margin-right: 1em;
        margin-left: 0em; 
    }
}





