.no-groups-container {
    flex-direction: column;
    border-top: 1px solid var(--green);
    border-bottom: 1px solid var(--light-grey);
    padding: 1em 1em 1em 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;   
}
.no-groups-container {
    text-decoration: none !important;  
}

.no-groups-message-line1 {
    margin: 0em 0em -1em -1.8em;
}

.no-groups-message-line2 {
    margin: 0em 0em 0.5em -1.8em;
}

.no-groups-link {
    text-decoration: none !important;
    color: var(--green);
}



.share-list-with {
    flex-direction: column;
    border-top: 1px solid var(--light-grey);
    padding: 1em 1em 1em 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex; 
    flex-direction: row; 
}

.share-list-with:hover {
    background-color: #212121; ;
}

.share-list-with:first-child {
    border-top: 1px solid var(--green)
}

.share-list-with-last-child {
    border-bottom: 1px solid var(--light-grey)
}

.share-list-checkbox {
    margin: 0 1em 0 -1.4em;
}
.share-list-details-body {
    border: 5px solid;
    margin: 0em 0.5em 0em 0.5em;
    margin-top: -0.6em;
    padding: 10px;
    color: #f2f2f2;
    border: none;   
}

.share-list-instructions {
    padding: 1em 0em 1em 0.5em;
    font-size: 1.2em;
    font-weight: 500;   
    color: #f2f2f2;
    border:none;
    caret-color: var(--green);
    margin: 0em 0.5em 0em 0.5em;
}

.share-list-update-button {
    position:relative;
    float: right;
    margin: 1em 7% 2em 0em; 
    padding: 0.8em 2.2em 0.8em 2.2em;
    border-radius: 2em;
    border: none;
    background-color: var(--green);
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    color: #212121;
    text-decoration: none;
}

.share-list-update-button:hover {
    background-color: #a2f199;
}

.share-list-cancel {
    margin: 1em -5em 2em -0.3em; 
    padding: 0.8em 2.2em 0.8em 2.2em;
    border-radius: 4em;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    color: #949494;
}

@media only screen and (max-width: 400px) {
    .share-list-update-button {
        position:relative;
        float: right;
        margin: 1em 0% 2em 0em; 
        padding: 0.6em 1.9em 0.6em 1.9em;
        font-size: 0.9em;
    }
    .share-list-cancel {
        margin: 1em -5em 2em -2em; 
        padding: 0.6em 1.9em 0.6em 1.9em;
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 1200px) {
    .share-list-instructions {
        margin: auto;
        width: 50%;
        margin-bottom: -0.5em;
    }

    .share-list-details-body {
        width: 50%; 
        margin: auto;
    }
}